@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppinq", sans-serif;
    }
    .active{
        display: block !important;
    }
.header{
    color: white;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.47)),
    url("./yellowcar.jpg"); 
    background-size: cover;
    background-position: center;
}  
    .logo{
        width: 25%;
    }
    .nav{
        padding: 2% 2% 2% 4%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 40%;
    }
    .element{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .flou {
        backdrop-filter: blur(15px);
        padding: 1%;
    } 
    .sec{
        display: flex;
        flex-direction: column;
        align-items:center;
        gap: 100px;  
        justify-content: baseline;
        padding:5% 5% 5% 8% ;
    }

    .nav a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        margin-left: 1vw;
    }
    nav a:hover{
        color: #D0772F;
    }
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 3% 10% 27% 10%;
}
.title{
    font-size: 38px;
}
.slogan{
    font-size: 18px;
    font-weight:lighter;
    letter-spacing: 2px;
    width: 50%;
    text-align: center;
}
/* barre de contact */
.contacts{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -22%;
    display: flex;
    gap: 10%;
    padding: 3%;
    box-shadow: 1px 3px 27px 2px rgb(64 64 64 / 7%);    


}
/*  Information de l'agece */
.information{
    background: linear-gradient( 
    181deg, #f0902c, #ffd24f);
    color: white;
    border-radius: 20px;
    padding: 5% 7% 16% 3%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.part1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.part1 h2{
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 2px;
}
.part1 p{
    font-size: 14px;
    width: 220px;
}
.part2{
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.part2 p{
    font-size: 18px;
}
.flex{
    display: flex;
    align-items: center;
    gap: 8%;
}
/* Client information */
.info{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 20%;
}
#column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.par{
    display: flex;
    gap: 10%;
}
input{
    padding: 4%;
    border: none;
    border-bottom: solid 1px #f0902c ;
    background-color: transparent;
    width: 12vw;
}
.subject input{
    width: 27vw ;
}
label{
    font-weight: bold;
    color: rgb(58, 58, 58);
}
textarea{
    border: none;
    border-bottom: solid 1px #f0902c;
    background: transparent;
    width: 27vw;
    height: 85px;
}
.message ::placeholder{
    position: absolute;
    margin-top: 10%;
    margin-left: 2%;
}
.sub input {
    background-color: #f0902c;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 18px 34px;
    margin: 4px 2px;
    cursor: pointer;
}
main{
    display: flex;
    gap: 10%;
}
/*footer*/
footer p{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 1vw;
    font-size: 18px;
}
footer{
    margin-top: 3vw;
}
.footer-inner{
    border-top: rgba(93, 93, 93, 0.425) solid 1px;
    padding-top: 3vw;
    margin-top: 3px;
    display: flex;
    justify-content: space-evenly;
}
.footer-inner h4{
    font-size: 18px;
    font-weight: bold;
}
.footer-inner hr{
    margin-bottom: 1vw;
    width: 12vw;
    margin-top: 0.5vw;
    
}
.footer-inner a , li{
    list-style: none;
    color: rgb(124, 124, 124);
    margin-bottom: 1vw;
    text-decoration: none;
}
.footer-inner a:hover{

    color: #D0772F
}

#menu{
    display: none;
}
#menu_burger{
    display: none;
}
#menu_burger li{
    display: none;
}

@media screen and (max-width: 1400px) and (min-width: 701px) {
    .bot ul{
        display: none !important;
    }
    #menu_burger li{
        display: none;
    }
    .title {
        font-size: 28px !important;
    }
    .slogan {
        font-size: 16px;
        width: 70%;
    }
    .bar{
        margin: auto;
        gap: 18%;
        margin-bottom: 4%;
        margin-top: 4%;
    }
    .part{
        display: flex;
        flex-direction: column;
        margin-left: 3%;
    }
    h1{
        font-size: 42px;
    }
    main{
        flex-direction: column;
        gap: 70px;
        padding-bottom: 10%;
    }
    .contacts{
        flex-direction: column;
        top: 55%;
        padding-right: 4%;
    }
    #column {
        display: flex;
        flex-direction: column;
        gap: 10px;

    }
    .fullname, .email{
        width: 30vw;
    }
    .info{
        padding-left: 10vw;
    }
    sub input {
        padding: 19px 40px 19px 23px;
        width: 12vw !important;
    }
    .par{
        flex-direction: column;
        gap: 48px;
    }
    input{
            width: 45vw;
        
    }
    textarea {
        height: 85px;
        width: 45vw;
    }
    .subject input {
        width: 45vw;
    }
    .logo {
        width: 45%;
    }
}

@media screen and (max-width: 700px) and (min-width: 280px){
    .sub input{
        padding: 22px 120px 22px 80px;
    }
    info input,  {
        width: 90% !important;
    }
    .client{
        padding-left: 19%;
    }
    .disc{
        display: none;
    }
    
    .logo{
        width: 55% !important;
    }
    .rent img{
        display: none;
    }
    .nav ul{
        display: none !important;
    }
    .slogan {
        font-size: 15px;
        width: 90%;
    }
    /* footer{
        margin-top: 260vw;
    } */
    .nav img{
        width: 80%;
    }
    .bar ul{
        margin-top: 13%;
        margin-left: 35%;
    }
    .bar a{
        font-size: 18px;
    }
    .bar{
        flex-direction: column;
        margin-bottom: 15%;
    }

    .contacts{
        position: relative;
        flex-direction: column;
        width: 92%;
        margin-left: 4%;
        margin-right: 1%;
    }
    .information{
        padding: 5%;
    }
    .part1 h2{
        font-size: 20px;
    }
    .part1 p{
        font-size: 15px;
        width: 90%;
    }
    .part2 p{
        font-size: 15px;
    }
    .iconify{
        font-size: 20px;
    }
    .client{
        padding-left: 2%;
    }
    .par{
        flex-direction: column;
        gap: 40px;
    }
    .info label{
        font-size: 16px;
    }
    .info input,.info textarea{
        width: 80%;
    }
    #menu_burger{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 90px;
        z-index: 1;
        list-style: none;
        background-color: #f3f3f386;
        padding: 20%;
        display: none;
        margin: 3vw;
    }
    #menu_burger a{
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    #menu{
        display: block;
        border: none;
        background: none;
    }
    .bot{
        display: none;
    }
    #menu_burger li{
        margin-bottom: 20px;
        display: block;
    }
    .footer-inner a{
        font-size: 14px;
    }
    .footer-inner h4{
        font-size: 16px;
    }
    footer p{
        font-size: 15px;
    }
    .logo{
        width: 45%;
    }
    #column {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;
    }
    .fullname, .email{
        width: 70vw!important;
    }
    .info{
        align-items: center;
    }
}
@media screen and (max-width: 460px){

    .footer-inner{
        flex-direction: column;
        align-items: center;
        gap: 9vw;
        text-align: center;
        margin: 2vw 0 5vw 0;
    }
    .footer-inner hr{
        width: 25vw;
    }
    footer{
        margin-top: 7vw;
    }
    .container{
    margin-bottom: 4vw;
    } 
    }