@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppinq", sans-serif;
    }

    .active{
        display: block !important;
    }
.header{
    color: rgb(255, 255, 255);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.205)),
    url("./background.jpg");  
    background-size: cover;
    background-position: center;
    }  
    /* nav element */
    .logo{
        width: 25%;
    }
    .nav  ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 40%;
    }
    .nav{
        display: flex;
        padding: 2%;
        justify-content: space-between;
    }
    .element{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .flou {
        backdrop-filter: blur(15px);
        padding: 1%;
    } 
    .sec{
        display: flex;
        flex-direction: column;
        align-items:center;
        gap: 100px;  
        justify-content: baseline;
        padding:5% 5% 5% 8% ;
    }

    .nav a{
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        margin-left: 2vw;
    }
    nav a:hover{
        color: #D0772F;
    }
    /* fin nan */
    .title{
        font-size: 42px;
    }
    .login{
        display: flex;
        gap: 80px;
        margin-right: 8%;
    }
    .signin{
        padding: 20px 48px;
        color: #ffff;
        font-size: 24px;
        font-weight:bolder;
        background-color: #D0772F;
        border: none;
        border-radius: 10px;
    }
    .signup{
        padding: 20px 48px;
        color: #ffff;
        font-size: 24px;
        font-weight:bolder;
        background-color: transparent;
        border-style:solid;
        border-color: #D0772F;
        border-radius: 10px;
    }
    .iconify{
        width: 50px;
        height: 30px;
    }
    .icones{
        margin-right: 15%;
    }
    .disc{
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 40%;
    padding: 1.5%;
    
    }
    .left{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-right: 1px solid;
        padding-right: 4%;
    }
    .right{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .disc p{
        font-size: 20px;
        font-weight: 200;
        margin-top: 5%;
    }
    .disc hr{
        border: none;
    }
    .ser{
        text-align: center;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 32px;
        margin: 2%;
        
    }
.case {
        margin: 5%;
        display: flex;
        gap: 15%;
        height: 300px;

}
.case h3{
        color: rgb(68, 68, 68);
        font-size: 36px;
}
.case p{
        color: rgb(92, 92, 92);
        font-size: 20px;
        width: 90%;
        margin-left: 5%;
}

.case1 {
        width: 40%;
        border: solid 1px #e6e6e6;
        box-shadow: 1px 1px 15px #e6e6e6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 10%;
}
.case2 {
        width: 40%;
        border: solid 1px #e6e6e6;
        box-shadow: 1px 1px 15px #e6e6e6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 10%;
}.case3 {
        width: 40%;
        border: solid 1px #e6e6e6;
        box-shadow: 1px 1px 15px #e6e6e6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 10%;
}
.case3 h3{
        width: 90%;
        margin-left: 3%;
}
.map{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.map h4{
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 18px;
    color: darkgray;
}
.map h2{
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 32px;
}
.step{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    align-content: center;
    text-align: center;
    margin-top: 2%;
    margin-right: 3%;

}
.ico{
    display: flex;
    background: rgb(252 252 252);
    height: 80px;
    width: 80px;
    justify-content: center;
    margin-bottom: 5%;
    align-items: center;
    border: solid 2px;
    border-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 1px #e6e6e6;
}
#ico1{
    position: relative;
    left: 90px;
    
}
#ico2{
    position: relative;
    left: 56px;
}
.ico2{
    position: relative;
    left: 75px;
    background: linear-gradient( 
        181deg, #f0902c, #ffd24f);
    display: flex;
    background: linear-gradient;
    height: 80px;
    width: 80px;
    justify-content: center;
    margin-bottom: 5%;
    align-items: center;
    border: solid 1.5px;
    border-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 1px #e6d59a;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text h3{
    font-size: 24px;
}
.text p{
    font-size: 18px;
}
.experience{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 5%;
}
.part1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.part1 h3{
    font-weight: lighter;
    text-align: center;
    letter-spacing: 2px;
    font-size: 18px;
    color: darkgray;

}
.part{
    display: flex;
    flex-direction: row-reverse;
    gap: 30%;
    margin-right: 5%;
    margin-top: 2%;
    align-items: center;
}
.bmw{
    border: 1px solid #ddd;
    border-radius: 4px;
}

.part1 h2{
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 32px;
}
.part2{
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-left: 5%;
    margin-top: 5%;
}
.desplay{
    display: flex;
    gap: 2%;
}
.par{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.par h4{
    font-weight: bold;
    font-size: 20px;
}
.bmw img{
    width: 800px;
}
.par p{
    font-size: 18px;
}
.ic{
    display: flex;
    background: rgb(252 252 252);
    height: 80px;
    width: 80px;
    justify-content: center;
    margin-bottom: 5%;
    align-items: center;
    border: solid 2px;
    border-color: #e8e8e8;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 1px #dad7d3;

}
.logos{
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    padding: auto;
}
.logos img{
    width: 10%;
}
#bm{
    width: 6.5%;
}
/* FOOTER STYLE */
footer p{
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 1vw;
    font-size: 18px;
}
footer{
    margin-top: 3vw;
}
.footer-inner{
    border-top: rgba(93, 93, 93, 0.425) solid 1px;
    padding-top: 3vw;
    margin-top: 3px;
    display: flex;
    justify-content: space-evenly;
}
.footer-inner h4{
    font-size: 18px;
    font-weight: bold;
}
.footer-inner hr{
    margin-bottom: 1vw;
    width: 12vw;
    margin-top: 0.5vw;
    
}
.footer-inner a , li{
    list-style: none;
    color: rgb(124, 124, 124);
    margin-bottom: 1vw;
    text-decoration: none;
}
.footer-inner a:hover{
    color: #D0772F;
}

#menu{
    display: none;
}
#menu_burger{
    display: none;
}
#menu_burger li{
    display: none;
}
@media screen and (max-width: 1590px) and (min-width: 701px) {
    .bmw img{
        width: 600px;
    }
    #menu_burger li{
        display: none;
    }
    .logo {
        width: 45%;
    }
.disc{
    display: none;
}
.part{
    gap: 0;
}
.bar{
    gap:10%;
}
.nav{
    gap: 0px;
}

}
@media screen and (max-width: 700px) and (min-width: 280px){
    .disc{
        display: none;
    }
    .logo{
        width: 55% !important;
    }
    .nav img{
        width: 80%;
    }
    .login{
        flex-direction: column;
    }
    .nav ul{
        display: none;
    }
    .bot ul{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .bar{
        margin: auto;
        gap: 18%;
        margin-bottom: 4%;
        margin-top: 4%;
    }
    .part{
        display: flex;
        flex-direction: column;
        margin-left: 3%;
    }
    .title h1{
        font-size:28px;
    }
    main{
        flex-direction: column;
        gap: 70px;
        align-content: center;
        padding-bottom: 10%;
    }
    .contacts{
        position: absolute;
        top: 55%;
        padding-right: 4%;
    }
    .bar{
        margin: auto;
        gap: 18%;
        margin-bottom: 4%;
        margin-top: 4%;
    }
    .part{
        display: flex;
        flex-direction: column;
        margin-left: 3%;
    }
    .case{
        flex-direction: column;
        margin-bottom: 160vw;
        align-items: center;
    }
    .case1 ,.case2,.case3{
        gap: 10%;
        width: 75%;
        height: 90%;
        padding-top: 20%;
        padding-bottom: 20%;
    }
    .case h3{
        font-size: 22px;
        margin-bottom: 10%;
    }
    .case p{
        font-size: 16px;
    }
    h2, .map h2, .part1 h2 {
        font-size: 24px;
        margin-top: 3%;
    }
    .disc p {
        font-size: 15px;
        font-weight: lighter;
    }
    .signin , .signup{
        height: 70px;
        width: 150px;
        font-size: 21px;
        padding: 20px;
    }
    .login button{
        font-size: 18px;
    }
    .login{
        gap: 10PX;
    }
    .flou{
        padding: 3% 3% 3% 6%;
        width: 100%;
    }
    .rent img{
        display: none;
    }
    .map h3{
        font-size: 14x;
    }
    .step{
        flex-direction: column;
        gap: 30px;
    }
    .bmw img{
        width: 100%;
    }
    .par h4{
        font-size: 18px;
    }
    .par p{
        font-size: 15px;
    }
    .part2{
        gap: 35px;
    }
    .desplay{
        gap: 30px;
        align-items: center;
    }
    #bm{
        width: 16%;
    }
    .logos img {
        width: 25%;
    }
    .logos{
        flex-wrap: wrap;
        gap: 20px;
    }
    .bot{
        margin-left: 15%;
        margin-top: 4%;
        padding: 2%;
    }
    #menu{
        display: inline;
    }
    .closeIcon{
        display: none;
    }

    #menu{
        background: none;
        border: none;
    }
    #menu_burger{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 90px;
        z-index: 1;
        list-style: none;
        background-color: #ffd1954b;
        padding: 20%;
        display: none;
        margin: 3vw;
    }
    #menu_burger li{
        display: block;
        margin-bottom: 20px;
    }
    .bot{
        display: none;
    }
    #menu_burger a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    /* #burger{
        display: none;
    } */
    .footer-inner a{
        font-size: 14px;
    }
    .footer-inner h4{
        font-size: 16px;
    }
    footer p{
        font-size: 15px;
    }
}
@media screen and (max-width: 460px){
}







/* .bar{
    display: flex;
    gap: 40%;
    margin-top: 10%;
    margin-bottom: auto;
    border-top: solid 1px rgb(195, 195, 195) ;
    padding: 3% 3% 0% 3% ;

}
.rent img{
    height: 35%;
}
.bot a{
    color: black;
}
.bot{
    width: 100%;
}
.bot ul{
    list-style: none;
    display: flex;
    width: 100% !important;
    justify-content: space-between !important;
}
.bot :hover{
    color: rgb(117, 117, 117);
}
.media{    
    display: flex;
    gap: 5%;
    justify-content: center;
    margin-bottom: 2%;
}
.media .iconify{
    background-color: rgb(250 250 250);
    border: solid 0.1px #f2f2f2;
    box-shadow: #e6e6e6 1px 1px 13px 1px;
    border-radius: 100%;
    width: 50px;
    height: 48px;
    padding: 9px;
} */